@use 'font';

$Activ: #b5b6bc;
$Drop: #dddddd;

.swiper {
  margin-left: 0px;
  margin-right: 0px;
}
#container,
#types {
  .heading {
    .header__text {
      text-transform: uppercase;
      font-size: 18px;
      word-spacing: -1px;
      color: #7e7e82;
      font-weight: 100;
      min-width: 288px;
      padding: 10px;
      text-align: justify;
    }
  }
  .swiper {
    max-width: 680px;
    margin-top: 20px;
    .swiper-container {
      position: relative;
      margin-top: -50px;
      .swiper-wrapper {
        .swiper-slide {
          box-sizing: border-box;
          margin-top: 40px;
          padding: 30px 0px 50px 5px;
          .swiper-card {
            display: flex;
            justify-content: space-between;
            background-color: white;
            width: 320px;
            height: 75px;
            padding: 30px 20px 0px 15px;
            border-radius: 15px;
            border: 1px solid #eaeaea;
            .swipe_img {
              height: fit-content;
              margin-top: 5px;
            }
            .top {
              margin-top: -5px;
            }
            .hiden__list_item__button {
              transition: 1s;
              border: 2px solid #ff3e79;
              border-radius: 50%;
              padding: 16px 18px;
              width: 10px;
              cursor: pointer;
              height: 15px;
              text-decoration: none;
              color: #ff3e79;
              font-size: 24px;
              .img {
                margin-bottom: 50px;
                height: 16px;
              }
            }
          }
        }
      }
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: $Drop;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background: $Activ;
      }
    }
  }
  .hiden__list__button {
    transition: 0.5s;
    display: none;
    align-items: center;
    background-color: transparent;
    border: 0px;
    margin-top: 30px;
    :hover {
      transition: 0.5s;
      margin-right: -5px;
    }
    .margin {
      margin-right: 10px;
    }
    #myButton {
      padding-left: 20px;
    }
  }
}

.swiper-pagination-bullet-active {
  background: #b5b6bc;
}
.swiper-button-next {
  position: absolute;
  cursor: default;
  visibility: hidden;
}
.swiper-button-next:after {
  background-color: white;
  z-index: 5;
  position: absolute;
  font-size: 18px;
  font-weight: 1000;
  color: #ff3e79;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  padding: 13px 18px;
  margin-left: -250px;
  cursor: pointer;
  visibility: visible;
}

.hiden {
  display: none;
  padding: 50px;
}
.hover:hover {
  transition: 1s;
  cursor: pointer;
  margin-top: -15px;
}
.hid {
  display: none;
}
@media (width < 669px) {
  .swiper-grid > .swiper-wrapper {
    flex-wrap: nowrap !important;
  }
}
@media (width > 669px) {
  #container {
    min-width: 768px;
    max-width: 1100px;
    overflow: hidden;
    margin: 0 auto;
    .heading {
      .header__text {
        padding: 30px 0px;
        background-image: linear-gradient(0.25turn, #f8f8f8, #ffffff);
        min-width: 768px;
        max-width: 1100px;
      }
    }
    .swiper {
      max-width: 800px;
      .swiper-container {
        .swiper-wrapper {
          display: flex;
          flex-wrap: wrap;
          .swiper-slide {
            padding-bottom: 0px;
            padding-top: 10px;
            min-width: 250px !important;
            max-width: 300px !important;
            .swiper-card {
              min-width: 180px;
              max-width: 220px;
            }
          }
        }
      }
    }
    .hiden__list__button {
      // margin-left: 45px;
      display: flex;
    }
  }

  .hiden {
    display: block;
    padding-right: 50px;
  }

  button:hover {
    cursor: pointer;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-slide-next {
    margin-left: 0px;
  }
  .swiper-grid > .swiper-wrapper {
    display: flex;
  }
}
@media (width > 900px) {
  #container {
    min-width: 1120px;
    max-width: 1920px;
    overflow: hidden;
    margin: 0 auto;
    .heading {
      .header__text {
        min-width: 1120px;
        max-width: 1920px;
      }
    }
    .swiper {
      min-width: 320px;
      max-width: 1100px;
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            min-width: 150px !important;
            max-width: 320px !important;
            .swiper-card {
              min-width: 120px;
              max-width: 260px;
            }
          }
        }
      }
    }
  }

  .swiper-grid > .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (width > 1220px) {
  #container {
    .swiper {
      min-width: 500px;
      max-width: 1000px;
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            min-width: 150px !important;
            max-width: 275px !important;
            .swiper-card {
              min-width: 180px;
              max-width: 220px;
            }
          }
        }
      }
    }
  }

  .swiper-grid > .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
}
@media (width > 1310px) {
  #container {
    .swiper {
      min-width: 500px;
      max-width: 1110px;
      .swiper-container {
        .swiper-wrapper {
          .swiper-slide {
            min-width: 150px !important;
            max-width: 320px !important;
            .swiper-card {
              min-width: 180px;
              max-width: 260px;
            }
          }
        }
      }
    }
  }

  .swiper-grid > .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
}
@media (width > 1450px) {
  #container {
    .swiper {
      min-width: 900px;
      max-width: 100%;
      .swiper-container {
        .swiper-wrapper {
          gap: 20px;
          .swiper-slide {
            min-width: 200px !important;
            max-width: 350px !important;
            .swiper-card {
              min-width: 220px;
              max-width: 290px;
            }
          }
        }
      }
    }
  }

  .swiper-grid > .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
}
