#types {
  .swiper {
    max-width: none;
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .swiper-card {
            width: 220px;
            height: 140px;
            h4 {
              margin-top: -10px;
            }
            .margin {
              margin-top: 70px;
            }
          }
        }
        .hod {
          display: none;
        }
      }
    }
  }
}
